<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <system.net>
      <mailSettings>
        <!--<smtp from="adinson.guevara@gmail.com">-->
        <!-- <network host="smtp.gmail.com" userName="" password="" port="" enableSsl="true" /> -->
        <!--</smtp>-->
      </mailSettings>
    </system.net>
  </startup>
  <connectionStrings>
    <!-- Conexion a SQL-->
    <add name="SQL" connectionString="Data Source=POSPERUBD.BGR.PE;Initial Catalog=BDWMS; Integrated Security=False; User ID=pos_oracle; Password=Bata2018**;" providerName="System.Data.SqlClient" />
    <add name="SQL_Test" connectionString="Data Source=POSPERUBD.BGR.PE;Initial Catalog=BDWMS_PRUEBA; Integrated Security=False; User ID=pos_oracle; Password=Bata2018**;" providerName="System.Data.SqlClient" />
    <!-- Conexion a DBF-->
    <add name="Dbf1" connectionString="Provider=vfpoledb.1;Data Source=\\10.10.10.6\vol2\SISTEMAS\COMUN\;Collating Sequence=MACHINE;DELETED=True" />
    <!-- n:/sistemas/comun/-->
    <add name="Dbf2" connectionString="Provider=vfpoledb.1;Data Source=\\10.10.10.6\vol2\SISTEMAS\CENTRAL\$DATA\;Collating Sequence=MACHINE;DELETED=True" />
    <!-- n:/sistemas/central/$data/-->
  </connectionStrings>
  <appSettings>

    <!--FLAG PARA USAR TIPO DE SERVIDOR [1 : PRODUCCION , 0: TEST]-->
    <add key="FlagServProd" value="1" />

    <!--SERVIDOR DE PRODUCCION : 1 -->
    <add key="UrlFtp" value="108.166.9.72" />
    <add key="UserFtp" value="PE_WMS_PROD" />
    <add key="PassFtp" value="muUZPl6cYtTdJ.Tn" />
    <add key="PuertoFtp" value="22" />

    <!--SERVIDOR DE TEST : 0 -->
    <add key="UrlFtp_test" value="108.166.9.72" />
    <add key="UserFtp_test" value="PE_WMS_QA" />
    <add key="PassFtp_test" value="rSDrRNtqVH8K" />
    <add key="PuertoFtp_test" value="22" />
    <!-- Conexion DBFs -->
    <add key="FlagConexDBFs" value="1" />
    <add key="pathDbf1" value="\\10.10.10.6\vol2\SISTEMAS\COMUN" />
    <add key="pathDbf2" value="\\10.10.10.6\vol2\SISTEMAS\CENTRAL\$DATA" />

    <add key="pathDbf1_user" value="SERVICIOS" />
    <add key="pathDbf1_pass" value="servicios123" />

    <add key="pathDbf2_user" value="SERVICIOS" />
    <add key="pathDbf2_pass" value="servicios123" />

    <!-- Conexion a POSTGRESS-->
    <add key="Serv_Postgress" value="172.28.7.20"/>
    <add key="DB_Postgress" value="scomercial"/>
    <add key="User_Postgress" value="admin_wms"/>
    <add key="Pass_postgress" value="**intapp--"/>
    <add key="Puert_Postgress" value="5432"/>

    <!--FLAG DE PROCESOS DE INTERFACES WMS-->
    <add key="processPrescrip" value="1" />
    <add key="processPurchase" value="1" />
    <add key="process_ASN_Purchase" value="1" />
    <add key="processLeerFTP" value="1" />
    <add key="process_ASN_Devol" value="1" />
    <add key="process_HDR_HDL_carrito" value="1" />
    <add key="process_HDR_HDL_catalogo" value="1" />
    <add key="process_stock_WMS" value="1" />
    <add key="process_NC_carrito" value="1" />
    <add key="process_NC_catalogo" value="1" />

    <!--RUTAS INTERFACES-->
    <add key="WMS" value="D:\WMS\" />
    <!--CARPETA MATRIZ-->
    <add key="WORK" value="WORK\" />
    <add key="BACKUP" value="BACKUP\" />
    <add key="LOG" value="LOG\" />
    <add key="RECYCLER_LEER" value="WORK\RECYCLER_LEER\" />
    <add key="C50001" value="BACKUP\50001\" />
    <add key="C50001_input" value="BACKUP\50001\input\" />
    <add key="C50001_output" value="BACKUP\50001\output\" />
    <add key="C50003" value="BACKUP\50003\" />
    <add key="C50003_input" value="BACKUP\50003\input\" />
    <add key="C50003_output" value="BACKUP\50003\output\" />
    <add key="CFOTOSTOCK" value="BACKUP\FOTOSTOCK\" />
    <add key="WORK_AQ_EC" value="MAESTROS_AQ_EC\WORK\" />
    <add key="BACKUP_AQ_EC" value="MAESTROS_AQ_EC\BACKUP\" />

    <!--variable dias-->
    <add key="dias" value="15" />

    <!--horas actualiza stock - fomato de 24 horas-->
    <add key="hora_stock_1" value="00:00" />
    <add key="hora_stock_2" value="00:00" />
    <add key="hora_stock_3" value="00:00" />

    <!--Codigo de Mensajes-->
    <!--ORD/ORH-->
    <add key="M001" value=" : ***** Inicio de Proceso satisfactorio *****" />
    <add key="M002" value=" : Se procesó la data satisfactoriamente" />
    <add key="M003" value=" : No se realizó ningun proceso de data" />
    <add key="M004" value=" : ***** Fin de proceso *****" />
    <add key="M005" value=" : Error al actualizar los documentos" />
    <add key="M006" value=" : Se envio al FTP satisfactoriamente " />
    <add key="M007" value=" : Error al enviar al FTP" />
    <add key="M008" value=" : Se realizo la consulta satisfactoriamente" />
    <add key="M009" value=" : No hubo proceso falta codigo de Intranet" />
    <add key="M010" value=" : No hubo cambios no hay datos para procesar" />
    <add key="M011" value=" : Carga de lista de datos TABGEN.dbf : OK" />
    <add key="M012" value=" : Se genero los archivos TXT de forma exitosa" />
    <add key="M013" value=" : No se genero uno o más de los archivos TXT" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>