<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
  <connectionStrings>
    <add name="Test" connectionString="Data Source=POSPERUBD.BGR.PE;Initial Catalog=BDWMS; Integrated Security=False; User ID=pos_oracle; Password=Bata2018**;" providerName="System.Data.SqlClient"/>
    <add name="Dbf1" connectionString="Provider = vfpoledb.1;Data Source=\\10.10.10.6\vol1\TEMPORAL\CQUINTO\PruebaServicio\;Collating Sequence=MACHINE"/>  <!-- n:/sistemas/comun/-->
    <add name="Dbf2" connectionString="Provider = vfpoledb.1;Data Source=\\10.10.10.6\vol1\TEMPORAL\CQUINTO\PruebaServicio\;Collating Sequence=MACHINE"/>  <!-- n:/sistemas/central/$data/-->
  </connectionStrings>
  
  <appSettings>
    <!-- 
    <add key="rutaMainTest" value="c:\pruebaservicio\"/>
    <add key="rutaMain" value="Path.GetDirectoryName(Assembly.GetAssembly(typeof(MyClass)).CodeBase)";/>
    -->

    <add key="pathDbf1" value="\\10.10.10.6\vol1\TEMPORAL\CQUINTO\PruebaServicio\"/>
    <add key="pathDbf2" value="\\10.10.10.6\vol1\TEMPORAL\CQUINTO\PruebaServicio\"/>

    <add key="UrlFtp" value="ta10sftp.wms.ocs.oraclecloud.com"/>
    <add key="UserFtp" value="bata_test2_if"/>
    <add key="PassFtp" value="dq9Tbx36"/>
    
  </appSettings>

</configuration>
